.ingang{
    width: 400px;
    height: auto;
  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h1 {
    background-color: white;
    color: teal;
}

#nav-list{
    background-color: gray;
    display: flex;
   margin: 0;
   padding: 0;
   
}

#nav-list li{
    text-decoration: none;
    padding: 30px;
    list-style-type: none;
    flex: 100%;
}

#nav-list li+li{
    border-left-style: solid;
}

#nav-list li:hover{
    background-color: black;
    color: white;
}


table {
    display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
    width: 500px;
    height: 500px;
    border:1px solid red;
}

